.App {
  text-align: center;
}

.ip2 {
  border-radius: 25px;
  border: 2px solid #609;
  padding: 1rem;
  width: 5rem;
  height: 1rem;
}

body,
input,
body h1,
body h3,
body a,
body span {
  color: whitesmoke;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}

#app,
#app-background {
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
  position: fixed;
  z-index: 1;
}

#app,
#app-background,
#app-background-image {
  background-image: url(./images/background3.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

#app,
.logged-in,
#app-menu {
  height: auto;
  overflow: initial;
  opacity: 1;
  pointer-events: all;
  /* transform: translateY(0%); */
}

#app,
#app-menu {
  position: relative;
  transition: opacity 250ms, transform 250ms;
  z-index: 2;
}

#app,
#app-menu,
#app-menu-content-wrapper {
  background: linear-gradient(to bottom, transparent, #1e1e1e);
  margin-top: 20vh;
  min-height: 80vh;
}

/* #app,
#app-menu,
#app-menu-content-wrapper,
#app-menu-content {
  margin: auto;
  max-width: 1600px;
  position: relative;
} */

#app
  #app-menu
  #app-menu-content-wrapper
  #app-menu-content
  #app-menu-content-header {
  display: flex;
  justify-content: space-between;
}
.fa-duotone::before {
  position: absolute;
  /* color: var(--fa-primary-color, inherit);
  opacity: var(--fa-primary-opacity, 1); */
}

/* .fa-duotone::after {
  opacity: var(--fa-secondary-opacity, 0.4);
} */

.info {
  align-items: flex-end;
  display: flex;
}

.time {
  color: whitesmoke;
  font-size: 3.5em;
  height: 60px;
  line-height: 73px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

#app .info .weather {
  display: inline-flex;
  height: 17px;
  margin-bottom: 6px;
  margin-left: 20px;
}

#app .info .weather .weather-temperature-value {
  font-size: 1.5em;
  height: 20px;
  margin-left: 5px;
  color: white;
}

#app .info .weather span {
  align-items: center;
  display: inline-flex;
  color: white;
}

#app .info .weather i,
#app .info .weather span {
  /* align-items: center; */
  display: inline-flex;
}

#app .info .weather .weather-temperature-unit {
  align-items: flex-start;
  font-size: 0.6em;
  margin-left: 3px;
}

#app .reminder {
  display: flex;
  gap: 6px;
  margin-top: 10px;
}

#app .reminder .reminder-icon {
  align-items: center;
  height: 24px;
}

#app .reminder i,
#app .reminder div {
  display: inline-flex;
}

#app .reminder span {
  color: white;
  font-size: 1.1em;
}

#app .reminder .reminder-time {
  color: black;
  font-size: 0.8em;
  margin-left: 6px;
}

#app .user-status-button {
  cursor: pointer;
  margin-top: 10px;
  outline: none;
  padding: 5px;
  width: 100px;
  display: flex;
  justify-content: center;
}

.clear-button {
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.clear-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

#app #quick-nav {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  overflow: auto;
  padding-bottom: 5px;
  width: 100%;
}

#app #quick-nav .quick-nav-item {
  padding: 10px 20px;
  cursor: pointer;
}

#app .menu-section {
  margin-top: 60px;
}

#app .menu-section .menu-section-title {
  align-items: center;
  display: flex;
  gap: 6px;
}

#app .menu-section .menu-section-title .menu-section-title-text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.25em;
}

#app #weather-section .menu-section-content {
  display: flex;
  gap: 1em;
  padding: 5px 0px;
  width: 100%;
}

#app .menu-section .menu-section-content {
  margin-top: 15px;
  padding-top: 5px;
}

#app .scrollable-component {
  overflow: auto;
}

#app #weather-section .menu-section-content .day-card {
  backdrop-filter: blur(3px);
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  height: 20vw;
  max-height: 170px;
  min-height: 140px;
  min-width: 180px;
  position: relative;
  transition: transform 250ms;
  width: calc(100% / 7);
}

#app #weather-section .menu-section-content .day-card .day-card-content {
  display: flex;
  flex-direction: column;
  height: calc(100% - 20px);
  justify-content: space-evenly;
  padding: 10px;
}

#app
  #weather-section
  .menu-section-content
  .day-card
  .day-card-content
  .day-weather-temperature {
  align-items: flex-start;
  display: flex;
  font-size: 0.9em;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.day-weather-description {
  text-align: center;
}

#app #weather-section .menu-section-content .day-card .day-card-content span {
  color: whitesmoke;
  text-align: center;
}

.weather-icon-info {
  color: #fdd835 !important;
}

.day-weather-icon {
  /* text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); */
  text-align: center;
  font-size: 3.5em;
}

#app .menu-section {
  margin-top: 60px;
}

#app .menu-section .menu-section-title {
  align-items: center;
  display: flex;
  gap: 6px;
}

#app #restaurants-section .menu-section-content {
  display: flex;
  gap: 1em;
  margin-top: 15px;
  padding-top: 5px;
}

#app .menu-section .menu-section-title .menu-section-title-text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.25em;
}

#app #restaurants-section .menu-section-content .restaurant-card {
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  height: 14vw;
  max-height: 240px;
  position: relative;

  width: 25%;
}

.background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#app
  #restaurants-section
  .menu-section-content
  .restaurant-card
  .restaurant-card-content {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

#app
  #restaurants-section
  .menu-section-content
  .restaurant-card
  .restaurant-card-content
  .restaurant-card-content-items {
  bottom: 0px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  position: absolute;
  right: 0px;
  text-align: right;
  transition: margin 250ms;
}

#app
  #restaurants-section
  .menu-section-content
  .restaurant-card
  .restaurant-card-content
  .restaurant-card-content-items
  .restaurant-card-title {
  color: whitesmoke;
  font-size: 1.5em;
}

#app
  #restaurants-section
  .menu-section-content
  .restaurant-card
  .restaurant-card-content
  .restaurant-card-content-items
  .restaurant-card-desc {
  color: #42a5f5;
  font-size: 0.9em;
}

.restaurant-card {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.restaurant-card:hover {
  top: -10px;
}

#app #tools-section .menu-section-content {
  display: flex;
  gap: 1em;
}
#app #tools-section .menu-section-content .tool-card {
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  height: 8vw;
  max-height: 160px;
  min-height: 140px;
  overflow: hidden;
  position: relative;

  width: calc(100% / 6);
}

#app #tools-section .menu-section-content .tool-card .tool-card-background {
  border-radius: 10px;
  filter: grayscale(100%);
  height: 100%;
  left: 0px;
  opacity: 0.5;
  position: absolute;
  top: 0px;
  transition: filter 250ms;
  width: 100%;
}

#app #tools-section .menu-section-content .tool-card .tool-card-content {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  justify-content: space-between;
  padding: 20px;
  position: relative;
  width: calc(100% - 40px);
  z-index: 2;
}

#app
  #tools-section
  .menu-section-content
  .tool-card
  .tool-card-content
  .tool-card-content-header {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

#app
  #tools-section
  .menu-section-content
  .tool-card
  .tool-card-content
  .tool-card-content-header
  .tool-card-label {
  color: #42a5f5;
  font-size: 0.8em;
  text-transform: uppercase;
}

#app
  #tools-section
  .menu-section-content
  .tool-card
  .tool-card-content
  .tool-card-content-header
  .tool-card-name {
  color: whitesmoke;
  font-size: 1.25em;
}

.tool-card {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.tool-card:hover {
  top: -10px;
}
#app #movies-section .menu-section-content {
  display: flex;
  gap: 1em;
}

#app #movies-section .menu-section-content .movie-card {
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  height: 40vw;
  max-height: 600px;
  min-height: 460px;
  min-width: 260px;
  overflow: hidden;
  position: relative;

  width: calc(100% / 4);
}

#app #movies-section .menu-section-content .movie-card .movie-card-background {
  border-radius: 10px;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  transition: transform 250ms;
  width: 100%;
  z-index: 1;
}

#app #movies-section .menu-section-content #movie-card-1 .movie-card-content {
  background: linear-gradient(
    to top,
    rgba(57, 73, 171, 0.4),
    transparent,
    rgba(0, 0, 0, 0.4)
  );
  border-radius: 10px;
  height: 100%;
  position: relative;
  z-index: 2;
}

#app
  #movies-section
  .menu-section-content
  .movie-card
  .movie-card-content
  .movie-card-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 30px;
}

#app
  #movies-section
  .menu-section-content
  .movie-card
  .movie-card-content
  .movie-card-info
  .movie-card-title {
  color: whitesmoke;
  font-size: 2em;
}

#app
  #movies-section
  .menu-section-content
  .movie-card
  .movie-card-content
  .movie-card-info
  span {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

#app
  #movies-section
  .menu-section-content
  .movie-card
  .movie-card-content
  .movie-card-info
  .movie-card-desc {
  color: #c8c8c8;
  font-size: 0.9em;
}

.movie-icon {
  bottom: 0px;
  color: whitesmoke;
  font-size: 5em;
  padding: 30px;
  position: absolute;
  right: 0px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  transition: transform 250ms;
}

.movie-card {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.movie-card:hover {
  top: -10px;
}
#app #movies-section .menu-section-content {
  display: flex;
  gap: 1em;
}

#app
  #movies-section
  .menu-section-content
  .movie-card:hover
  .movie-card-content
  .movie-icon {
  transform: translate(-20%, -20%) scale(1.2);
}

@media (max-width: 1300px) {
  #app #app-menu #app-menu-content-wrapper {
    padding: 30px;
  }
  #app
    #app-menu
    #app-menu-content-wrapper
    #app-menu-content
    #restaurants-section
    .menu-section-content {
    flex-wrap: wrap;
  }
  #app
    #app-menu
    #app-menu-content-wrapper
    #app-menu-content
    #restaurants-section
    .menu-section-content
    .restaurant-card {
    height: 30vw;
    max-height: 300px;
    position: relative;
    width: calc(50% - 0.5em);
  }
  #app
    #app-menu
    #app-menu-content-wrapper
    #app-menu-content
    #tools-section
    .menu-section-content {
    flex-wrap: wrap;
  }
  #app
    #app-menu
    #app-menu-content-wrapper
    #app-menu-content
    #tools-section
    .menu-section-content
    .tool-card {
    width: calc(33.33% - 0.69em);
  }
}
